/* Realizzazione del sito Mobile First */
/* TAG generichi per stili che si ripeteranno in tutto il sito */
* {
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 97%;
}

.ms--bg-blue {
    background-color: #0248ff;
}

.ms--bg-gray {
    background-color: #f3f5f9;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-weight: 600;
    color: #fff;
    line-height: 1.5;
    padding-top: 80px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: #031b4e;
    padding-top: 50px;
}

h3 {
    font-size: 20px;
    color: rgba(3,27,78,.7);
    -moz-osx-font-smoothing: grayscale;
    padding-bottom: 20px;
}

/* HEADER */
/* utility */
.utility {
    height: 40px;
    line-height: 30px;
    font-weight: 600;
    color: #5b6987;
    border-bottom: 1px solid #e5e8ed;
    padding: 5px 0;
}

.utility .news {
    font-size: 10px;
    color: rgb(3,27,78);
    background-color: #00d7d2;
    border-radius: 5px;
    padding: 4px 7px;
}

.utility p {
    font-size: 11px;
    padding-left: 10px;
    display: inline;
}

.utility .announcement:hover {
    color: #0180ff;
    cursor: pointer;
}

.utility a {
    font-size: 11px;
    font-weight: 600;
    color: #5b6987;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 10px;
}
/* logo */
.logo {
    padding: 10px 0;
    margin-bottom: 0;
}

.logo img{
    height: 30px;
}
/* navbar */
nav, .sign {
    line-height: 50px;
    padding-top: 3px;
}

nav a {
    font-size: 13px;
    font-weight: 600;
    color: black;
    padding-left: 2px;
}

nav li:nth-of-type(1):after,
nav li:nth-of-type(5):after {
    content: "\22C1";
    padding-left: 3px;
    color: #909ab1;
    cursor: pointer;
}

nav li:hover a {
    color: #0180ff;
}
/* bottone */
.sign button {
    font-weight: 600;
    color: #0069ff;
    background-color: #fff;
    border: 1px solid #0069ff;
}

.sign button:hover {
    color: #fff;
    background-color: #0069ff;
    transition: 0.3s ease-in-out;
}

/* BANNER */
/* menu */
.menu img {
    height: 30px;
    margin-top: 30px;
}

.menu a i {
    font-size: 25px;
    color: #81a4ff;
    padding: 30px 0;
}
/* title */
.title p {
    font-size: 20px;
    color: #ccdaff;
    line-height: 1.5;
    padding: 20px 0;
}
/* jumbotron */
.jumbotron {
    background-color: #fff;
    padding: 0 30px !important;
}
/* titolo */
.jumbotron h2 {
    font-size: 28px;
    padding-top: 35px;
    padding-bottom: 20px;
}
/* form */
.jumbotron input {
    border: 1px solid #e5e8ed;
    padding: 25px 15px;
    margin-top: 20px;
}

::placeholder {
    font-size: 16px;
    color: #42547a !important;
    -moz-osx-font-smoothing: grayscale;
}

form button {
    width: 100%;
    font-size: 16px;
    color: #fff;
    background-color: #0069ff;
    border: none;
    border-radius: 5px;
    padding: 15px 0;
    margin-bottom: 20px;
}

form button:hover {
    background-color: #0248ff;
    transition: 0.3s ease-in-out;
}
/* divisore */
.divisor p {
    font-size: 14px;
    color: #727e98;
    display: grid;
    grid-template-columns: minmax(20px,1fr) auto minmax(20px,1fr);
    grid-gap: 19px;
    align-items: center;
}

.divisor p:after,
.divisor p:before {
    content: "";
    border-top: 1px solid #e5e8ed;
}
/* bottoni */
.btn-google, .btn-github {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    background-color: #f2f8ff;
    border: 1px solid #c2dcff;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.btn-google svg,
.btn-github svg {
    position: absolute;
    top: 12px;
    left: 15px;
}

.btn-google:hover,
.btn-github:hover {
    background-color: #d5e4f7;
    transition: 0.2s ease-in-out;
}
/* termini */
.terms p{
    font-size: 11px;
    color: #42547a;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 10px;
    padding-bottom: 30px;
}

.terms a {
    color: #0069ff;
}

.terms a:hover {
    color: #0248ff;
}

/* CUSTOMERS */
#customers h4 {
    font-size: 16px;
    color: #939eb4;
    padding-top: 50px;
}
/* immagini sponsor */
.row-sponsor div {
    margin-top: 10px;
}

#img-same {
    height: 97px;
}

#img-diff {
    height: 57px;
    margin: 20px auto;
}

#customers p {
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 40px;
}
/* link finale */
#customers a,
#business a {
    color: #0069ff;
}

#customers a:after,
#business a:after {
    content: "\203A";
    padding-left: 10px;
}

#customers a:hover,
#business a:hover {
    color: #0248ff;
}

/* DEPLOY */
.row-deploy {
    padding-top: 50px;
    padding-bottom: 30px;
}
/* lista */
#deploy ul {
    margin-bottom: 30px;
}

#deploy li {
    display: inline-block;
    padding: 10px 20px;
    border-bottom: 2px solid #e5e8ed;
}

#deploy li:hover {
    border-bottom: 2px solid #0248ff;
    cursor: pointer;
}

#deploy a {
    font-size: 16px;
    color: #818da6;
}

#deploy a:hover {
    color: #031b4e;
}
/* info */
.info svg {
    margin-bottom: -10px;
}

.info h3 {
    font-size: 16px;
    color: #031b4e;
    font-weight: 600;
}

.info p {
    font-size: 15px;
    color: rgba(3,27,78,.7);
    -moz-osx-font-smoothing: grayscale;
    padding-bottom: 40px;
}

/* DEVELOPERS */
#developers h3 {
    padding-bottom: 50px;
}
/* frecce */
.fa-chevron-left,
.fa-chevron-right {
    font-size: 40px;
    position: relative;
    top: 200px;
}

.fa-chevron-left {
    color: #a9b2c4;
}

.fa-chevron-right {
    color: #031b4e;
}

.fa-chevron-right:hover {
    color: #0248ff;
}
/* testo e pallini finali */
#developers p {
    font-size: 16px;
    color: rgba(3,27,78,.7);
    -moz-osx-font-smoothing: grayscale;
    padding: 30px 70px 10px;
}

.fa-circle {
    font-size: 10px;
    color: #0248ff;
    padding-bottom: 80px;
}

#developers p:hover,
.fa-circle:hover {
    cursor: grab;
}

/* BUSINESS */
#business h2 {
    padding-bottom: 50px;
}

#business h3 {
    font-size: 18px;
    font-weight: 700;
}

/* media query per gli stili che cambiano con le dimensioni del device */
@media screen and (min-width: 768px) {
    #banner {
        background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
        background-size: cover;
    }

    h1 {
        font-size: 40px;
        padding-top: 180px;
    }

    .jumbotron {
        max-width: 400px;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 80px;
    }

    .btn-google, .btn-github {
        font-size: 13px;
        font-weight: bold;
    }

    .btn-google svg,
    .btn-github svg {
        left: 1px;
    }

    #img-same {
        height: 87px;
    }

    #img-diff {
        height: 47px;
        margin: 20px auto;
    }

    #deploy li {
        text-align: left;
        display: block;
        border-bottom: none;
        border-left: 2px solid #e5e8ed;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 35px;
    }

    #deploy li:hover {
        border-bottom: none;
        border-left: 2px solid #0248ff;
    }

    #min-height {
        min-height: 300px;
    }
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 50px;
    }

    .btn-google, .btn-github {
        font-size: 16px;
        font-weight: bold;
    }

    .btn-google svg,
    .btn-github svg {
        left: 15px;
    }

    #img-same {
        height: 77px;
    }

    #img-diff {
        height: 37px;
        margin: 20px auto;
    }

    .fa-chevron-left,
    .fa-chevron-right {
        font-size: 50px;
        top: 250px;
        cursor: pointer;
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 60px;
    }
}
